.calendar{
    margin: 0 10%;
    padding: 20px;
    box-shadow: 5px grey;
    border-radius: 0.5em;
    height: 900px;
    overflow: hidden;
}

.encapsulated{
    text-align: center;

    .date{
        font-size: 16px;
    }

    .price{
        font-size: 24px;
        color: #98fd4f;
    }
}