#header {
  .header-navbar {
    background-color: white;

    .logo {
      width: 236px;
      height: 42px;
    }
  }
}

#body {
  height: 50%;
}

#footer {
  background-color: black;
  width: 100%;
}