@font-face {
  font-family: 'Rounded Mplus 1c Black';
  src: url('/assets/fonts/rounded-mplus-1c-black.ttf');
}

@font-face {
  font-family: 'Rounded Mplus 1c Medium';
  src: url('/assets/fonts/rounded-mplus-1c-medium.ttf');
}

@font-face {
  font-family: 'Rounded Mplus 1c Light';
  src: url('/assets/fonts/rounded-mplus-1c-light.ttf');
}

@font-face {
  font-family: 'Rounded Mplus 1c Bold';
  src: url('/assets/fonts/rounded-mplus-1c-bold.ttf');
}

@font-face {
  font-family: 'Raleway Light';
  src: url('/assets/fonts/Raleway-Light.ttf');
}

@font-face {
  font-family: 'Raleway Black';
  src: url('/assets/fonts/Raleway-Black.ttf');
}

@font-face {
  font-family: 'Raleway Bold';
  src: url('/assets/fonts/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Raleway Extra Light';
  src: url('/assets/fonts/Raleway-ExtraLight.ttf');
}

@font-face {
  font-family: 'Raleway Medium';
  src: url('/assets/fonts/Raleway-Medium.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/raleway.ttf');
}