@font-face {
  font-family: 'Rounded Mplus 1c Black';
  src: url('/assets/fonts/rounded-mplus-1c-black.ttf');
}

@font-face {
  font-family: 'Rounded Mplus 1c Light';
  src: url('/assets/fonts/rounded-mplus-1c.ttf');
}