#home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  background-image: url("/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    margin: -100px auto 100px auto;
    height: 78px;
    color: #ffffff;
    font-size: 56px;

    .buscador {
      font-family: "Rounded Mplus 1c Light";
      font-weight: 300;
    }

    .flexivel {
      font-family: "Rounded Mplus 1c Black";
      font-weight: 900;
    }
    
  }
  .form-bambusca{
    // margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;

    input[type="radio"] {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
      transform: scale(1.5);
  }

    .check-radio-one-way{
      color: #ffffff;
      font-family: Raleway;
      font-size: 20px;
      font-weight: 700;
      line-height: 21px;
      
    }
    .check-radio-roundtrip{
      width: 112px;
      color: #ffffff;
      font-family: Raleway;
      font-size: 20px;
      font-weight: 700;
      line-height: 21px;
      
    }

    .form-field{
      width: 50%;

      .align-origin-destiny{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .field{
          width: 49%;
          color: #9b9b9b;
          font-family: "Rounded Mplus 1c Medium";
          font-size: 16px;
          font-weight: 500;
          
          .text{
            color: #9b9b9b;
            font-family: "Rounded Mplus 1c Medium";
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
      .align{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .month{
          width: 49%;
          .text{
            color: #9b9b9b;
            font-family: "Rounded Mplus 1c Medium";
            font-size: 16px;
            font-weight: 500;
          }
        }

        .adults-children-babies{
          width: 49%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .text{
            color: #9b9b9b;
            font-family: "Rounded Mplus 1c Medium";
            font-size: 14px;
            font-weight: 500;
          }

          .size{
            width: 31%;
          }
        }
      }
    }
    p{
      text-align: center;
      text-transform: uppercase;
      color: white;
    }
    .background{
      background-color: #6c6c6c;
      width: 47%;
      margin: 0 auto 2%;
    }
    .travel-days{
      display: flex;
      flex-direction: row;
      justify-content: center;

      p{
        font-weight: 700;
      }

      .size{
        width: 10%;
      }

      p{
        text-align: center;
        margin-top: 1%;
        margin-right: 1%;
        margin-left: 1%;

      }
    }
    button.align{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    button{
      text-transform: uppercase;
    }
  }
}