#home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin:0;

  background-image: url("/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  .title{
    margin-top: 40px;
  }

  h1{
    font-size: 35px;
    text-align: center;
    color: white;
    font-weight: 900;
  }
  form{
    margin-top: 40px;

    .origin-destiny {
      margin-bottom: 10px;
    }

    .radio-margin{
      margin-bottom: 15px;
    }
    input[type="radio"] {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
      transform: scale(1.5);
    }

    .check{
      font-size: 22px;
      color: #ffffff;
      font-weight: 700;
    }

    .how-long{
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
      color: white;
      font-weight: 700;
    }
    .align-text-amount{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      color: white;
      font-size: 20px;
      font-weight: 600;
    }

    .align-button{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;

      .text{
        font-weight: 900;
        font-size: 20px;
        background-color: greenyellow;
      }
    }
  }
}