@mixin font-style {
  font-size: 24px;
  font-weight: bold;
  max-width: 30%;
  margin: 1%;
  border-radius: 5px;
  color: hsl(0,0%,50%);

  &:hover {
    background-color: #98fd4f;
    color: white;
    cursor: pointer;
  }
}

@mixin unselected {
  @include font-style();
  background-color: white;
}

@mixin selected {
  @include font-style();
  background-color: #98fd4f;
  color: white;
}

.month-picker {
  .ehcIuo {
    span {
      font-size: 30px;
    }

    svg {
      height: 40px;
      width: 40px;
    }
  }

  .jaBMtA {
    width: 100%;
    font-size: 24px;
    z-index: 10;
  }

  .cqplOA {
    width: 100%;
    background-color: #f3f3f3;
    padding: 3% 0 3% 3%;

    .sc-bwzfXH {
      @include unselected();
    }

    .dHwfwU {
      @include selected();
    }

    .bREpbv {
      @include selected();
    }

    .dnslXk {
      @include selected();
    }
  }
}